n8n_workflow_workout_notification_FIXED.json
{
  "name": "Bodyncraft - Workout Completed Notification (FIXED)",
  "nodes": [
    {
      "parameters": {
        "path": "bodyncraft/workout-complete",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "bodyncraft-workout-complete"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "headerAuth": {
          "name": "Authorization",
          "value": "Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
        },
        "method": "GET",
        "url": "https://nnwqzfbfreugrmtqqynw.supabase.co/rest/v1/users?select=email,id&eq=user_id,={{ $json.user_id }}",
        "options": {}
      },
      "name": "Get User Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get data from both webhook and user lookup\nconst webhookData = $input.first()?.json || {};\nconst userData = $input.last()?.json || {};\n\nconst userEmail = userData?.email || 'user@example.com';\nconst exerciseName = webhookData?.exercise_name || 'workout';\nconst xpEarned = webhookData?.xp_earned || 0;\nconst bodyPart = webhookData?.body_part || 'unknown';\nconst date = new Date(webhookData?.date || Date.now()).toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconsole.log('Processing workout:', { userEmail, exerciseName, xpEarned, bodyPart, date });\n\nreturn [{\n  json: {\n    email: userEmail,\n    subject: `💪 Bodyncraft: You completed ${exerciseName}!`,\n    body: `\n      <h2>Great workout!</h2>\n      <p>You completed <strong>${exerciseName}</strong> on ${date}.</p>\n      <p>XP Earned: <strong>${xpEarned}</strong></p>\n      <hr>\n      <p><a href=\"https://bodyncraft.vercel.app\">Open Bodyncraft</a></p>\n    `,\n    body_part: bodyPart,\n    user_id: webhookData?.user_id\n  }\n}];"
      },
      "name": "Prepare Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SHEET_ID }}",
          "type": "variable"
        },
        "sheetName": {
          "__rl": true,
          "value": "Workouts",
          "type": "string"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toISOString() }}",
            "User Email": "={{ $json.email }}",
            "Exercise": "={{ $json.subject.replace(/^.+completed (.+)!/, '$1') }}",
            "XP Earned": "={{ $json.body.match(/XP Earned: <strong>(\\d+)<\\/strong>/)?.[1] || 0 }}",
            "Body Part": "={{ $json.body_part || 'unknown' }}",
            "User ID": "={{ $json.user_id }}"
          }
        },
        "options": {}
      },
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        650,
        450
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Configure in n8n"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "topic": "bodyncraft_workout",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "html": "={{ $json.body }}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CRED_ID",
          "name": "Configure in n8n"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get User Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Email": {
      "main": [
        [
          {
            "node": "Prepare Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-31T12:00:00.000Z",
      "updatedAt": "2025-03-31T12:00:00.000Z",
      "id": "bodyncraft",
      "name": "Bodyncraft"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-31T12:00:00.000Z",
  "versionId": "2"
}
